// Colors
$primary: #DB202C;
$secondary: #14191F;
$accent: #458ADC;
$grey: #38485C;
$white: #FFFFFF;
$black: #000000;

// Unit
$pixel: 8px;
$margin: 24px;
$width: 100vw;
$height: 100vh;
$fullWidth: 100%;
$fullHeight: 100%;
$font: 1em;